@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  /* background: linear-gradient(
    92.23deg,
    #8aaa79 12%,
    #b8b685 117.04%
  ); */
  color: #f3e8f2;
  border: 2px solid #fff;
  transition: all .4s ease;
  border-color: rgba(255,255,255,.1);
  
}

.btn:hover {
  border-color: #f6e0f3;
  transform: scale(1.05);
  box-shadow: 2px 8.42184px 120.23px rgba(251, 150, 246, 0.51);
}

.gradient,
.active {
  background: linear-gradient(
    92.23deg,
    #b8b685 12%,
    #8aaa79 117.04%
  );
}

.active {
  color: #fff;
  padding: 1rem;
  border-radius: 100%;
}

@layer base {
  body {
    @apply font-primary text-lg leading-8 text-white;
  }
  .h2 {
    @apply font-primary text-[32px] mb-6 tracking-[10%] uppercase;
  }
  .h3 {
    @apply font-primary font-semibold text-[26px] mb-6 leading-[46px];
  }
  .btn {
    @apply rounded-lg font-tertiary text-white font-medium;
  }
  .btn-sm {
    @apply h-[50px] px-6 text-sm;
  }
  .btn-lg {
    @apply h-[56px] px-10 text-base;
  }
  .btn-link {
    @apply text-base;
  }
  .text-gradient {
    @apply bg-gradient-to-r text-transparent bg-clip-text from-[#b8b685] to-[#8aaa79] font-bold font-primary hover:from-[#8aaa79] hover:to-[#b8b685];
  }
  .section {
    @apply py-8 lg:py-24 lg:h-screen flex items-center;
  }
}
